// fonts
$font-size: 1rem;
$font-size__heading: 2*$font-size;
$font-size__heading--small: 1.5*$font-size;

$font-family__default: initial;
$font-family__dnd: "Cinzel Decorative";

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);